@* 
    <!DOCTYPE html>
    <html lang="en">


    <!-- Mirrored from portotheme.com/html/wolmart/shop-banner-sidebar.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 29 Aug 2024 16:53:23 GMT -->
    <!-- Added by HTTrack -->
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

        <title>Wolmart eCommmerce Marketplace HTML Template</title>

        <meta name="keywords" content="Marketplace ecommerce responsive HTML5 Template" />
        <meta name="description" content="Wolmart is powerful marketplace &amp; ecommerce responsive Html5 Template.">
        <meta name="author" content="D-THEMES">

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="~/assets/images/icons/favicon.png">

        <!-- WebFont.js -->
        <script>
            WebFontConfig = {
                google: { families: ['Poppins:400,500,600,700'] }
            };
            (function (d) {
                var wf = d.createElement('script'), s = d.scripts[0];
                wf.src = 'assets/js/webfont.js';
                wf.async = true;
                s.parentNode.insertBefore(wf, s);
            })(document);
        </script>

        <link rel="preload" href="~/assets/vendor/fontawesome-free/webfonts/fa-regular-400.woff2" as="font" type="font/woff2"
              crossorigin="anonymous">
        <link rel="preload" href="~/assets/vendor/fontawesome-free/webfonts/fa-solid-900.woff2" as="font" type="font/woff2"
              crossorigin="anonymous">
        <link rel="preload" href="~/assets/vendor/fontawesome-free/webfonts/fa-brands-400.woff2" as="font" type="font/woff2"
              crossorigin="anonymous">
        <link rel="preload" href="~/assets/fonts/wolmart87d5.woff?png09e" as="font" type="font/woff" crossorigin="anonymous">

        <!-- Vendor CSS -->
        <link rel="stylesheet" type="text/css" href="~/assets/vendor/fontawesome-free/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="~/assets/vendor/animate/animate.min.css">

        <!-- Plugins CSS -->
        <link rel="stylesheet" href="~/assets/vendor/swiper/swiper-bundle.min.css">
        <link rel="stylesheet" type="text/css" href="~/assets/vendor/nouislider/nouislider.min.css">
        <link rel="stylesheet" type="text/css" href="~/assets/vendor/magnific-popup/magnific-popup.min.css">

        <!-- Default CSS -->
        <link rel="stylesheet" type="text/css" href="~/assets/css/style.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    </head>

    <body>
        <div class="page-wrapper">
            <!-- Start of Header -->
        <div class="bg-light border-bottom py-2 px-4 d-flex justify-content-between align-items-center">
            <!-- Left side: Country & Language Dropdowns -->
            <div class="d-flex gap-3 align-items-center">
                <!-- Language Dropdown -->
                <div class="dropdown">
                    <select class="form-select form-select-sm" style="width: auto;">
                        <option selected>English</option>
                        <option>Español</option>
                        <option>Français</option>
                        <option>Deutsch</option>
                    </select>
                </div>

                <!-- Country Dropdown -->
                <div class="dropdown">
                    <select class="form-select form-select-sm" style="width: auto;">
                        <option selected>USA</option>
                        <option>India</option>
                        <option>UK</option>
                        <option>Australia</option>
                    </select>
                </div>
            </div>

            <!-- Right side: Logo -->
            <div>
                <img src="~/assets/images/logo.png" alt="Logo" style="height: 40px;">
            </div>
        </div>

                <!-- End of Header Top -->

    @RenderBody()
        </div>
        <!-- End of Page-wrapper-->
        <!-- Plugin JS File -->
        <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
        <script src="~/assets/vendor/jquery/jquery.min.js"></script>
        <script src="~/assets/vendor/jquery.plugin/jquery.plugin.min.js"></script>
        <script src="~/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
        <script src="~/assets/vendor/zoom/jquery.zoom.js"></script>
        <script src="~/assets/vendor/jquery.countdown/jquery.countdown.min.js"></script>
        <script src="~/assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="~/assets/vendor/skrollr/skrollr.min.js"></script>

        <!-- Swiper JS -->
        <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
        <script src="~/js/Toastify.js"></script>
        <!-- Main JS -->
        <script src="~/assets/js/main.min.js"></script>
    </body>
</html>
 *@

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>Wolmart eCommmerce Marketplace HTML Template</title>

    <meta name="keywords" content="Marketplace ecommerce responsive HTML5 Template" />
    <meta name="description" content="Wolmart is powerful marketplace &amp; ecommerce responsive Html5 Template.">
    <meta name="author" content="D-THEMES">
 @*    <link href="~/lib/select2/css/select2.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" /> *@
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="~/assets/images/icons/favicon.png">

    <!-- WebFont.js -->
    <script>
        WebFontConfig = {
            google: { families: ['Poppins:400,500,600,700'] }
        };
        (function (d) {
            var wf = d.createElement('script'), s = d.scripts[0];
            wf.src = 'assets/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>


    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body>

    <!-- ✅ Topbar -->
    <div class="bg-light border-bottom py-2 px-4 d-flex justify-content-between align-items-center w-100">
        <div>
            <img src="~/assets/images/logo.png" alt="Logo" style="height: 40px;">
        </div>
        <div class="d-flex gap-3 align-items-center">
            <select class="form-select form-select-sm" style="width: auto;">
                <option selected>English</option>
                <option>Español</option>
            </select>

            <select class="form-select form-select-sm" style="width: auto;">
                <option selected>USA</option>
                <option>UK</option>
            </select>
        </div>

    </div>

    <!-- ✅ Page Content -->
    <main class="main">
        @RenderBody()
    </main>
    <!-- Start of Footer -->
    <footer class="bg-light text-center text-lg-start border-top mt-5">
        <div class="container py-4">
            <div class="row">
                <div class="col-md-6 text-md-start text-center mb-3 mb-md-0">
                    <p class="mb-0">&copy; @DateTime.Now.Year Wolmart. All rights reserved.</p>
                </div>
                <div class="col-md-6 text-md-end text-center">
                    <a href="#" class="text-decoration-none me-3 text-muted">Privacy Policy</a>
                    <a href="#" class="text-decoration-none text-muted">Terms of Service</a>
                </div>
            </div>
        </div>
    </footer>
@*     <script src="~/lib/select2/js/select2.full.js"></script>
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script src="~/lib/select2/js/select2.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script> *@
    <!-- End of Footer -->@* 
    <a href="~/lib/jquery/dist/jquery.min.map">~/lib/jquery/dist/jquery.min.map</a> *@
    @* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
@*     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script> *@
    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
@*     <script src="~/assets/vendor/jquery/jquery.min.js"></script>
 *@    <script src="~/assets/vendor/jquery.plugin/jquery.plugin.min.js"></script>
    <script src="~/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/assets/vendor/zoom/jquery.zoom.js"></script>
    <script src="~/assets/vendor/jquery.countdown/jquery.countdown.min.js"></script>
    <script src="~/assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/vendor/skrollr/skrollr.min.js"></script>

    <!-- Swiper JS -->
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/js/Toastify.js"></script>
    <!-- Main JS -->
    <script src="~/assets/js/main.min.js"></script>
</body>
</html>
